.cost-block-container {
    display: flex;
    flex-direction: column;
    background-color: var(--card-background-color);
    border: 1px solid #333;
    border-radius: 8px;
}

.cost-block-header {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 48px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #333;
}

.cost-header-text {
    color: var(--subtext-color);
    font-weight: 400;
    text-transform: uppercase;
    text-wrap: nowrap;
    transform: translateX(-100%);
}

.cost-block-info {
    display: flex;
    flex-direction: column;
    padding: 48px;
    gap: 96px;
}

.cost-text-info {
    display: flex;
    justify-content: space-between;
}

.cost-text-info-p {
    color: var(--accent-color);
    text-transform: lowercase;
    line-height: 1;
    letter-spacing: -0.5px;
}
.cost-text-info-p[role-mark="true"] {
    color: var(--text-color);
}

.cost-text-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 32px;
    max-width: 387px;
}

.telegram-gif-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.telegram-gif {
    width: 340px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

.cost-cards-container {
    display: flex;
    gap: 16px;
}

.cost-card-container {
    position: relative;
    padding: 48px;
    border-radius: 8px;
    border: 1px solid #333;
    width: 100%;
    height: 348px;
}
.cost-card-container[has-button="true"] {
    background-color: #1a1a1a;
}

.cost-card-category {
    position: absolute;
    top: 48px;
    left: 48px;
}

.cost-card-button {
    position: absolute;
    top: 48px;
    right: 48px;
    padding: 12px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--background-color);
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.cost-card-text-container {
    position: absolute;
    left: 48px;
    bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 416px;
}

.cost-text {
    color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 600;
}

.cost-text-p {
    line-height: 1.25;
}

@media screen and (max-width: 750px) {
    .cost-block-header {
        padding: 26px 0;
    }
    .cost-block-info {
        padding: 32px;
        gap: 32px;
    }
    .cost-text-info-p[role-mark="true"] {
        display: none;
    }
    .cost-text-info {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .cost-text-info > .cost-text-info-p {
        color: var(--text-color);
    }
    .cost-cards-container {
        flex-direction: column;
    }
}
