.page-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 48px 56px 48px 56px;
    height: var(--vh-compensation);
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid var(--border-color);
}
.page-section[height-by-content=true] {
    height: auto;
}

.scroll-down {
    position: absolute;
    bottom: px;
    bottom: 48px;
    right: 56px;
}

@media screen and (max-width: 500px) {
    .scroll-down {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .small-image {
        background-size: contain;
        background-position: bottom;
    }
}

@media screen and (max-width: 750px) {
    .page-section[full-height=true] {
        height: auto;
    }
}