.cards-container {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
}

@media screen and (max-width: 900px) {
    .cards-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .card-container {
        width: 100%;
    }
}

.card-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--card-background-color);
    background-image: url(/art/1-card.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 150px auto;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 24px;
    /* width: 440px; for pixel perfect */
    min-width: 440px;
    height: 273px;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer-link {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.card-footer-link img {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}
